@import "../../assets/styles/global.scss";

.landing {
  width: 100vw;

  .container {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .landing-left {
      width: 50%;

      h1 {
        color: $secondary-color;
        font-size: 70px;
        font-family: "Calisto MT";
        font-weight: bold;
        padding: 20px 0;
      }

      p {
        color: $secondary-color;
        line-height: 1.7;
        width: 60%;
        padding-bottom: 30px;
        text-align: center;
      }

      .btn-landing {
        a.primary-btn {
          @include button-styles($primary-dark, 0.97, 16px, 20px 30px);
        }
        a.secondary-btn {
          @include button-styles($secondary-dark, 0.93, 13px, 10px 20px);
        }
      }
    }

    .landing-right {
      width: 50%;
    }

    .landing-right .svg {
      background-image: url(../../assets/images/web-development-bw.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      width: 710px;
    }
  }
}

/* *end of landing */
