@import "../../assets/styles/global.scss";

section {
  padding: $section-padding;
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 700px;
    }

    // .tools-container {
    //   background-color: $primary-dark;
    //   color: white;

    // }
    .tools-container {
      width: 100%;
      position: relative;
      min-height: 450px;
    }

    .tools-container .section-title {
      color: white;
      padding-top: 40px;
    }
    .section-title + p {
      text-align: center;
      color: white;
    }

    .tools-container::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: -1;
      background-color: $primary-dark;
      left: 50%;
      transform: translateX(
        -50%
      ); /* Replace with your desired background color */
    }

    .cards-container {
    display: grid;
    // -ms-grid-column: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    top: -190px;
    text-align: center;
  }
  }
  
}
