@import "../../assets/styles/global.scss";

section#about {
  padding: $section-padding;
  .container {
    a.primary-btn {
      @include button-styles($primary-dark, 0.97, 16px, 20px 30px);
    }
    .about-me {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;

      .about-description {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include screen-sm() {
          width: 100%;
        }
        @include screen-md() {
          width: 100%;
        }

        p {
          padding: 20px;
        }
      }
      
      .about-img {
        position: relative;
        // order: -1;
        @include screen-sm() {
          order: -1;
        }
        @include screen-md() {
          order: -1;
        }

        img {
          height: 250px;
          position: absolute;
          top: 40%;
          left: 42%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
